body{
    color: hotpink;
    font-family: cambria;
    letter-spacing: 1px;
}

#title h1{
    text-align: center;
    background-color: hotpink;
    font-family: 'Times New Roman';
    letter-spacing: 9px;
    color: white;
    font-size: 10rem;
}

#gallery-title h2{
    height: 50px;
    padding-top: 20px;
    text-align: center;
    background-color: rgb(204, 255, 21);
    font-family: sans-serif;
    font-size: 20px;
    letter-spacing: 2px;
    color: white;
}

.name-list{
    text-align: center;
    height: auto;
    width: auto;
    font-family: impact;
    font-size: 25px;
    letter-spacing: 2px;
    color:rgb(52, 202, 235);

}


.gallery{
    padding-top: 20px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    font-family: sans-serif;
    letter-spacing: 2px;
    color: white;

}

.gallery img{
    display: flex;
    justify-content: center;
}

.gallery .wrapper .grand-image #grand img{
    border: 1px red solid;
}

.text-box{
    position: absolute;
    top: 150px;
    background: rgba(64, 65, 64, 0.498);
    z-index: -1;

}

.wrapper{
    position: relative;
    display: flex;
}

.wrapper:hover{
border: black 1px solid;

}


.wrapper:hover .text-box{
    position: absolute;
    text-align: center;
    z-index: 1;
}

.gallery p{
    width: 300px;

}

#cast:hover{
    background-color: yellow;
}



button{
    background-color: yellowgreen;
    border: 10px;
    border-color: red;
    height: 100px;
    width: 200px;
    letter-spacing: 2px;
    color:rgb(64, 62, 62);
    margin-top: 5px;
}

#film-rating-form{
    border: solid black 1px;
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding: 10px;

}

