
.name-list{
    display: flex;
    flex-wrap: wrap;
    /* text-align: center; */
    width: auto;
    font-family: sans-serif;
    font-weight: bold;
    font-size: 75px;
    letter-spacing: 2px;
    color:hotpink;

}

.max-viewport-h {
    height: 100vh;
}


.gallery{
    padding-top: 20px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    font-family: sans-serif;
    letter-spacing: 2px;
    color: white;

}

.gallery img{
    display: flex;
    justify-content: center;
    height: 500px;
    border-radius: 5px;
}


.text-box{
    position: absolute;
    top: 150px;
    background: rgba(64, 65, 64, 0.498);
    z-index: -1;

}

.wrapper{
    position: relative;
    display: flex;
}


.wrapper:hover .text-box{
    position: absolute;
    text-align: center;
    z-index: 1;
}

.gallery p{
    width: 300px;

} 

#darjeeling-year, #royal-year, #fox-year, #budapest-year {
    width: 300px;
}


button{
    border: 10px;
    height: 100px;
    width: 100%;
    letter-spacing: 2px;
    font-size: 20px;
    font-weight: bold;
    color: white;
    margin-top: 5px;
    margin-bottom: 5px;
    border-radius: 5px;
    background-color: #FF5733;
}

button:hover{
    box-shadow: 0 0 4px 4px rgba(0, 140, 186, 0.5);
}

#film-rating-form p{
    font-family: sans-serif;
    font-weight: bold;
    font-size: 35px;
    letter-spacing: 2px;
    color:hotpink;
}

#film-rating-form{
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding: 10px;
    width: 80%;
    justify-content: center;
    margin: auto;
    margin-top: 20px;
    padding-bottom: 20px;
    text-align: center;
    border-radius: 5px;
    align-items: center;

}

#movie-dropdown, #user-rating, #user-rating-submit{
    font-family: sans-serif;
    font-weight: bold;
    color: white;
    width: 300px;
    border: none;
    font-size: 20px;
    background-color: #FF5733;
    height: 50px;
    border-radius: 5px;
}

#user-rating-submit:hover{
    box-shadow: 0 0 4px 4px rgba(0, 140, 186, 0.5);
}

#user-rating::placeholder{
    color: white;
    font-size: small;
}




