
.name-list{
    text-align: center;
    height: auto;
    width: auto;
    font-family: impact;
    font-size: 25px;
    letter-spacing: 2px;
    color:rgb(52, 202, 235);

}


.gallery{
    padding-top: 20px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    font-family: sans-serif;
    letter-spacing: 2px;
    color: white;

}

.gallery img{
    display: flex;
    justify-content: center;
    height: 500px;
}


.text-box{
    position: absolute;
    top: 150px;
    background: rgba(64, 65, 64, 0.498);
    z-index: -1;

}

.wrapper{
    position: relative;
    display: flex;
}




.wrapper:hover .text-box{
    position: absolute;
    text-align: center;
    z-index: 1;
}

.gallery p{
    width: 300px;

}


button{
    background-color: yellowgreen;
    border: 10px;
    height: 100px;
    width: 100%;
    letter-spacing: 2px;
    font-size: 20px;
    color:rgb(64, 62, 62);
    margin-top: 5px;
}

button:hover{
    border: yellow 3px solid;
}

#film-rating-form{
    border: solid black 1px;
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding: 10px;

}

